* {
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

li {
    display: inline-block;
}

img {
    width: 300px;
    height: 200px;
}


#drop-area {
    text-align: center;
    border: 3px dashed #b6b6b6;
    height: 150px;
    margin: 20px;
}

.area__title {
    color: dimgray;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    margin-top: 20px;
}

.area__sub-title {
    display: block;

}

#inputFile {
    display: none;

}

.progressBox {
    text-align: center;
    height: 20px;
    border: 1px solid black;
}

.label {
    display: block;
    width: 150px;
    height: 40px;
    background: dimgray ;
    color: #ffffff;
    margin: 7px auto;
    line-height: 40px;
    vertical-align: middle;
}

.gallery__item {
    border: 1px solid black;
}